* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

 nav {
     display: flex;
     margin-top: 80px;
     margin-bottom: 20px;
     margin-left: 17%;
 }

 nav div {
     background-color:#777777;
     background-image: linear-gradient(to bottom,#626262 50%, #767676 8%);
     padding-right: 20px;
     padding-left: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
     border-right:0.2px solid black;
 }
nav div a {
    text-decoration: none;
    color: white;
}

nav div:hover{
    color: black;
}

.bg-image-area {
    width: 1295px;
    height: 601px;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    background: url(/images/your_verse_hero.png) no-repeat;
}

.flex-container {

    display: flex;
    overflow-x: hidden;
    width: 1294px;
}

.flex-container img {

    width: 324px;
    height: 200px;
}

.footer-flex {
    display: flex;
}

.footer-flex div {
    font: 12px sans-serif;
    margin-right: auto;
}

.footer-bottom {

    font: 12px sans-serif;
}

.content-one {
    text-align: center;
    font-size: 70px;
    margin-bottom: 15px;
    margin-top: 20px;
    font-family:'Lucida Grande';
    font-weight: 100;
    opacity: 1;
}

.content-one a {
    text-decoration: none;
    color: white;
}

.content-two {
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.content-two a {
    text-decoration: none;
    color: white;
}
.content-three {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}
.content-three a {
    text-decoration: none;
    color: white;
}

